<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Trends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card >
    <ion-card-header>
      <ion-card-title >Top 10 Workout Trend</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item><ion-note  slot="start">1</ion-note><ion-label>David's Hot Yoga</ion-label></ion-item>
          <ion-item><ion-note  slot="start">2</ion-note><ion-label>The Best Tabata by June</ion-label></ion-item>
          <ion-item><ion-note  slot="start">3</ion-note><ion-label>Healthy TaiChi by Yi Ping</ion-label></ion-item>
          <ion-item><ion-note  slot="start">4</ion-note><ion-label>Jenny's Cardio Workout</ion-label></ion-item>

      </ion-list>
      
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Loading more posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
