<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Trends</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-card >
    <ion-card-header>
      <ion-card-title >Workout Trend Chart</ion-card-title>      
    </ion-card-header>
    <ion-card-content>
      <ion-list>
          <ion-item *ngFor ="let chartitem of chartlist; let i = index">
            <ion-note  slot="start">{{i+1}}</ion-note>
            <ion-label>{{chartitem.name}}</ion-label>
          </ion-item>


      </ion-list>
      
    </ion-card-content>
  </ion-card>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMore($event)">
    <ion-infinite-scroll-content loadingText="Loading more posts...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
