<ion-header>
  <ion-toolbar color="primary">
    <ion-title>HealthyAtHome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form (ngSubmit)="login()" [formGroup]="credentials">
    <div class="input-group">
      <ion-item>
        <ion-input placeholder="username" formControlName="username"></ion-input>
      </ion-item>
      <div *ngIf="username.errors && password.touched" class="errors">
        <span *ngIf="username.errors?.required">username is required</span>
      </div>
      <ion-item>
        <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
      <div *ngIf="(password.dirty || password.touched) && password.errors" class="errors">
        <span *ngIf="password.errors?.required">Password is required</span>
        <span *ngIf="password.errors?.minlength">Password needs to be 6 characters</span>
      </div>
    </div>

    <ion-button type="submit" expand="block" [disabled]="!credentials.valid">Log in</ion-button>
    <ion-button type="button" expand="block" color="light" fill="clear">
      Not yet a member? Sign up!
    </ion-button>
  </form>
</ion-content>
